.text_comment {
	word-wrap: break-word;
}
.comment-container {
	clear:both;
	margin:50px;
	padding:20px;
	background-color: black;
}

.comm-and-input {
	width:100%;
}
.comm-and-input form{
	border: 1px solid #ccc;
	padding: 10px;
	background-color: #1e1e1e;
}

textarea{
	width: 100%;
	height: 50px;
	border: 0px;
	resize: vertical;
}

form div {
	text-align:right;
}

form button {
	background-color: black;
	color:white;
	margin-top:10px;
	padding:10px;
	padding-right:30px;
	padding-left: 30px;
}
.comm-and-input ul{
	margin-top:20px;
	list-style-type: none;
	color:white;
}

.comm-and-input li {
	margin:20px;
	background-color: #1e1e1e;
	border: 1px solid #ccc;
}

.more_comm {
	margin-right:25px;
	text-align: right;
}
.delete_button {
	background-color: black;
	border: 1px solid;
}
.delete_div {
	margin:5px;
}